@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=RocknRoll+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'RocknRoll One', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

